/* This is a comment in CSS */
body {
  background-color: lavender;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: purple;
}

p {
  color: darkslateblue;
  font-size: 18px;
}
